$main-color-green: #009223;
$main-color-light-green: #c5e698;
$main-color-dark-green: #299a3e;

$sub-color: #ffce32;

$font-color-black: #292929;
$font-color-gray: #666;
$font-color-light-gray: #bbb;
$font-color-white: #fff;

$border-color-gray: #e5e5e5;
$border-color-light-gray: #ddd;

$ui-width: 1170px;
$header-height: 165px;
