@use "./variables" as *;

.main {
  padding-top: $header-height;
  background: url("/images/bg_content.gif");
}

.container {
  width: $ui-width;
  margin: 0 auto;
}

.logo {
  a {
    background: url("/images/logo.png") no-repeat 50% 50% / 100%;
  }
}

.page-title {
  padding-top: 134px;
  padding-bottom: 80px;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  background-color: #fff;
  color: $font-color-black;
}

.com-tab {
  margin-top: -34px;
  .tab-btn-wrap {
    display: flex;
    width: $ui-width;
    margin: 0 auto;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    button {
      flex: 1;
      height: 68px;
      font-size: 18px;
      background-color: #fff;
      border: 1px solid;
      border-color: $border-color-gray;
      color: $font-color-gray;
      &.active {
        background-color: $main-color-green;
        border-color: transparent;
        color: $font-color-white;
      }
    }
  }
  .tab-con-wrap {
    padding-top: 40px;
  }
}

.sub-header {
  width: 100%;
  border-bottom: 1px solid;
  z-index: 3;
  .container {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .dp2-list {
    display: flex;
    justify-content: center;
    li {
      padding-left: 24px;
      margin-left: 24px;
      line-height: 60px;
      position: relative;
      &.active {
        a {
          color: $main-color-green;
        }
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 4px;
        height: 4px;
        background-color: $border-color-light-gray;
        border-radius: 50%;
      }
      &:first-child {
        padding-left: 0;
        margin-left: 0;
        &::after {
          display: none;
        }
      }
      a {
        color: $font-color-white;
      }
    }
  }
  .top-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.sub-img-banner {
  height: 380px;
  background: no-repeat 50% 50%;
}

.sub-any-banner {
  height: 380px;
  text-align: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50%;
  color: $font-color-white;
  position: relative;
  .title {
    font-family: "Subway-Footlong";
    padding: 104px 0 36px;
    font-size: 70px;
    font-weight: 700;
  }
  .detail-box {
    line-height: 26px;
    letter-spacing: -0.05rem;
    position: relative;
    z-index: 1;
  }
  .img {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

.food-tab {
  position: relative;
  .tab-btn-wrap {
    margin-top: -40px;
    margin-bottom: 60px;
    text-align: center;
    background-color: #fff;
    button {
      height: 80px;
      padding: 0 24px;
      font-family: "Subway-SixInch";
      color: $font-color-gray;
      position: relative;
      &.active {
        font-weight: 700;
        color: $main-color-green;
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 15px;
        background-color: $border-color-light-gray;
      }
      &:first-child {
        &::before {
          display: none;
        }
      }
    }
  }
  .tab-con-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 130px;
  }
}

.menu-card {
  width: 370px;
  height: 330px;
  position: relative;
  a {
    height: 100%;
  }
  .card {
    height: 100%;
    position: relative;
    background-color: #fff;
    transform: scale(0);
    opacity: 0;
    .label {
      position: absolute;
      left: 0;
      top: 10px;
      width: 70px;
      height: 30px;
      font-family: "Subway-Footlong";
      font-size: 13px;
      line-height: 30px;
      font-weight: 700;
      text-align: center;
      color: $font-color-white;
    }
    .food-img {
      display: block;
      width: 100%;
      height: 189px;
      padding: 20px 50px 0;
      img {
        width: 100%;
      }
    }
    .food-detail {
      text-align: center;
      .kor-name {
        position: relative;
        top: 0;
        font-size: 22px;
        font-weight: 700;
        color: $font-color-black;
        z-index: 2;
      }
      .eng-name {
        position: relative;
        top: 0;
        margin-top: 8px;
        font-family: "Subway-SixInch";
        color: #666;
        z-index: 2;
      }
      .description {
        position: relative;
        left: 50%;
        top: -92px;
        transform: translateX(-50%);
        width: 330px;
        line-height: 24px;
        letter-spacing: -0.05em;
        word-break: keep-all;
        color: $main-color-light-green;
        visibility: hidden;
        opacity: 0;
        z-index: 2;
        .extra-text {
          font-size: 13px;
        }
      }
      .calorie {
        margin-top: 12px;
        font-family: "Subway-SixInch";
        font-size: 18px;
        font-weight: 700;
        color: $sub-color-yellow;
      }
      .more-icon {
        position: absolute;
        left: 50%;
        bottom: 150px;
        transform: translateX(-50%) scale(0);
        display: block;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        background: $sub-color-yellow url("/images/more_icon.svg") no-repeat 50%
          50% / 28px;
        border-radius: 50%;
        visibility: hidden;
        opacity: 0;
        z-index: 2;
      }
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $main-color-green;
      opacity: 0;
      z-index: 1;
      transition: opacity 0.4s ease-out;
    }
    &:hover {
      .food-detail {
        .kor-name,
        .eng-name {
          color: #fff;
          top: -159px;
          transition: top 0.4s ease-out;
        }
        .description {
          top: -148px;
          transition: all 0.4s 0.1s ease-out;
          visibility: visible;
          opacity: 1;
        }
        .more-icon {
          bottom: 24px;
          transform: translateX(-50%) scale(1);
          transition: all 0.4s 0.1s ease-out;
          visibility: visible;
          opacity: 1;
        }
      }
      &::after {
        opacity: 1;
        transition: opacity 0.2s ease-out;
      }
    }
  }
}

.top-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-family: "Subway-SixInch";
  font-size: 13px;
  font-weight: 700;
  color: $font-color-light-gray;
  &::before {
    content: "";
    display: block;
    width: 14px;
    height: 9px;
    background: url("/images/arr_top_gray.png") no-repeat 50% 50% / 100%;
  }
}

.com-swiper {
  margin-top: 60px;
}

.swiper-nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 0;
  max-width: 1480px;
  z-index: 1;
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    font-size: 0;
    border-radius: 50%;
    background: url("/images/swiper_nav_btn.png") no-repeat;
    &.swiper-prev {
      left: 0;
      background-position: 0 0;
      &:hover {
        background-position: 0 100%;
      }
    }
    &.swiper-next {
      right: 0;
      background-position: 100% 0;
      &:hover {
        background-position: 100% 100%;
      }
    }
  }
}

.step-pagination {
  display: flex;
  gap: 65px;
  justify-content: center;
  .swiper-pagination-bullet {
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 70px;
    padding-top: 9px;
    font-family: "Subway-Footlong";
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    border: 4px solid;
    border-color: #ddd;
    border-radius: 50%;
    color: #bbb;
    position: relative;
    strong {
      font-size: 28px;
    }
    &.active {
      background-color: #fff;
      border-color: $main-color-green;
      color: $main-color-green;
      strong {
        color: $font-color-black;
      }
      &::after {
        background-position: 50% 100%;
      }
    }
    &.swiper-pagination-bullet-active {
      background-color: $main-color-green;
      border-color: $main-color-green;
      color: #fff;
      strong {
        color: #fff;
      }
    }
    &:after {
      content: "";
      position: absolute;
      left: 65px;
      top: 50%;
      transform: translateY(-50%);
      width: 65px;
      height: 5px;
      background-image: url("/images/swiper_nav_dot.png");
      background-repeat: no-repeat;
      background-position: 50% 0%;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}
