@font-face {
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("/fonts/NotoSansKR-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Subway-Footlong";
  src: url("/fonts/Subway-Footlong.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Subway-SixInch";
  src: url("/fonts/Subway-SixInch.woff") format("woff");
  font-weight: 400;
}
