@use "./variables" as *;

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: $header-height;
  max-height: $header-height;
  padding-bottom: 24px;
  background-color: #fff;
  border-top: 5px solid;
  border-color: $main-color-green;
  overflow: hidden;
  transition: max-height 0.3s;
  z-index: 99;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo {
    margin-top: 35px;
  }
  .gnb {
    margin-top: 38px;
    .dp1 {
      display: flex;
      li {
        width: 165px;
        text-align: center;
        .title {
          font-size: 18px;
          font-weight: 700;
          cursor: pointer;
        }
        .dp2 {
          margin-top: 28px;
          > a {
            font-size: 15px;
            font-weight: 500;
            line-height: 35px;
            text-align: center;
            white-space: nowrap;
            color: $font-color-gray;
            &:hover {
              color: $main-color-green;
              text-decoration: underline;
            }
            &.active {
              text-decoration: underline;
              color: $main-color-green;
            }
          }
        }
        &:hover {
          .title {
            color: $main-color-green;
          }
        }
      }
    }
  }
  &:has(.gnb:hover) {
    max-height: 425px;
    transition: max-height 0.3s;
  }
}
