@use "./variables" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "NotoSansKR", sans-serif;
  font-size: 16px;
  background-color: $font-color-black;
  color: $font-color-black;
}

ul,
ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: $font-color-gray;
}

button {
  font-size: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
